@media (max-width: 768px) {
  .mockup_section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .text_section {
    padding: 4rem;
  }

  .first_info_text,
  .scnd_info_text,
  .third_info_text {
    padding: 4rem;
  }

  .image_section {
    order: -1;
  }

  .card {
    width: 80%;
  }

  .input-custom {
    max-width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .footer .row {
    display: flex;
    flex-wrap: wrap;
  }

  .footer .col-md-3.order-1 {
    order: -1;
    flex: 100%;
  }

  .footer .col-md-2 {
    flex: 0 0 24.333%;
    max-width: 24.333%;
  }

  .footer .col-md-3 {
    flex: 0 0 26.666%;
    max-width: 26.666%;
  }
}

@media (max-width: 480px) {
  .input-margin input,
  .input-margin button {
    width: 100%;
    margin-bottom: 10px;
  }

  .input-margin button {
    margin-bottom: 0;
  }

  .input-margin input {
    margin-right: 0;
  }
}
